.modal {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 16px;
  top: 118px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  width: 100%;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 30px 18px 30px;
  margin-top: 128px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.itemListContainer {
  display: flex;
}

h2 {
  margin-top: 18px;
}

.add-new-note-container {
  width: 100%;
  text-align: center;
  padding: 0 30px 0 30px;
}

.modal-button {
  all: unset;
  padding: 10px 22px;
  font-family: Kanit;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
}

.modal-cancel-button {
    border: 1px solid #6C63FF;
    color: #6C63FF;
}

.modal-apply-button {
    background-color: #6C63FF;
    color: white;
}
