.searchbar-wrapper {
  flex: 1;
  display: flex;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid #6c63ff;
  width: 100%;
}

.searchbar-wrapper input {
  all: unset;
  width: 100%;
  flex: 1;
}

.searchbar-wrapper img:hover {
    cursor: pointer;
}
