.searchbar-wrapper {
  flex: 1;
  display: flex;
  padding: 8px 16px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  width: 100%;
}

.searchbar-wrapper-dark {
  border-color: #F7F7F7;
  color: #F7F7F7;
}

.searchbar-wrapper-light {
  border-color: #6c63ff;
}

.searchbar-wrapper input {
  all: unset;
  width: 100%;
  flex: 1;
  
}

.searchbar-wrapper img:hover {
    cursor: pointer;
    
}


.searchbar-wrapper .dark-image {
  filter: brightness(0) invert(1);
}
