@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Kanit;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

h1 {
  font-weight: 500;
  font-style: Medium;
  font-size: 26px;
  margin-top: 40px;
}

.tools {
  display: flex;
  align-items: center;
  margin-top: 18px;
  width: 100%;
  max-width: 750px;
  gap: 20px;
}

.filter-dropdown {
  border-radius: 5px;
  padding: 10px;
  display: flex;
  background-color: #6c63ff;
  color: white;
  gap: 27px;
}

.filter-dropdown:hover {
  cursor: pointer;
}

.dark-mode-button {
  background-color: #6c63ff;
  width: 38px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.dark-mode-button:hover {
  cursor: pointer;
}

.add-button {
  background-color: #6c63ff;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  padding: 13px;
  right: 15%;
}

.add-button img {
  width: 100%;
  height: 100%;
}

.add-button:hover {
  cursor: pointer;
}

.item-list {
  max-width: 520px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nothing-here-image {
  align-self: center;
  margin-top: 30px;
}

.nothing-here-text {
  align-self: center;
  margin-top: 20px;
}
